* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
header {
    padding: 10px;
    max-width: 1440px;
    margin: 0 auto;
}
.header_container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
main {
    padding: 10px;
}
section {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    background-color: rgb(0, 158, 224);
}
.logo_wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 400px;
}
.logo_wrapper img {
    max-width: 50px;
    max-height: 60px;
    margin-right: 10px;
}
.logo_wrapper h4 {
    display: inline;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    color: #009ee0;
    line-height: 36px;
}
.logo_wrapper p {
    font-size: 13px;
    color: gray;
}
.nav_wrapper ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav_wrapper li {
    margin: 10px
}
.nav_wrapper a {
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    padding: 10px;
    color: #009ee0;
    font-size: 16px;
    font-weight: 600;
}
.nav_wrapper a:hover {
    color: gray;
}
.nav_wrapper a:active {
    color: red;
}
.headline {
    padding: 10px;
    max-height: 500px;
    height: 100vw;
    background: url(/website_tools/img/mainpic.JPG) no-repeat;
    background-position: center;
}
.number p {
    display: inline-block;
}
.number a {
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    padding: 10px;
    color: red;
    font-size: 16px;
    font-weight: 600;
}
